

.footer {
    width: calc(100% - 220px);
    bottom: 0; /* dont touch */
    margin-left: 220px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
    z-index: 900;
}

.footer-logo {
    height: 50px;
    object-fit: contain;
}