* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #e9edf4;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

/* USE THIS FOR YOUR VIEWS. WRAP ALL YOUR CONTENT AROUND "view-container" AND STYLING DOESNT CONFLICT WITH COMPONENTS :)) */
/*
<div class="view-container">
  *YOUR CONTENT*
</div>
*/
.view-container {
  min-height: calc(100vh - 80px - 64px); /* header + footer */
  flex: 1;
  margin-left: 220px;
  padding-top: 100px;
  padding-bottom: 64px;
  padding: 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* importanto */
  text-align: center;
}

.view-container > * {
  width: 100%;
  max-width: 1080px;
}

.header, footer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 900px) {
    .dashboard-container {
      margin-left: 0;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .sidebar {
      position: absolute;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 2000;
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  
    .header {
      left: 0;
      width: 100%;
    }
}